        #title{height:45px;}

		#top{height:30px;background:#f4f4f6;border-bottom:1px solid #e2e2e2;padding:0 36px;position:relative;}
		#top .t-l{float:left;}
		#top .t-l a{float:left;display:block;width:100px;height:30px;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;font:12px/30px '';color:#726777;text-align:center;}
		#top .t-l .a1{background:#fff;border-bottom:1px solid #fff;}
	    #top .t-l .a2:hover{background:#fff;color:#de000b;border-bottom:1px solid #fff;}
	    #top .t-l .img1{display:none;position:absolute;left:136px;top:30px;}


		#top .t-r{float:right;font:12px/30px '';color:#726777;}
		#top .t-r a{float:left;text-align:center;}
		#top .t-r a:hover{color:#de000b;}
		#top .t-r .a3{margin:0 10px;}
	    #top .t-r .a4{display:block;width:75px;height:30px;}
		#top .t-r .a5{display:block;width:60px;height:30px;}
		#top .t-r .a5:hover{background:#fff;border-bottom:1px solid #fff;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;}
		#top .t-r span{float:left;margin:0 10px;}
		#top .t-r .notice{width:200px;height:150px;border:1px solid #e2e2e2;background:#fff;position:absolute;top:30px;right:0;display:none;}
	    #top .t-r .notice a{display:block;width:200px;height:50px;font:12px/50px '';color:#de000b;}

		#head{height:128px;padding:0 36px;overflow:hidden;}
		#head .h-l{float:left;margin:26px 135px 0 3px;}

		#head .h-c{float:left;margin-top:44px;}
		#head .h-c .h-c-t{overflow:hidden;}
		#head .h-c .h-c-t .txt{float:left;width:439px;height:29px;border:2px solid #000;text-indent:10px;}
		#head .h-c .h-c-t .sub{float:left;width:83px;height:33px;border:0;background:#000 url(../images/t6.png) no-repeat left;color:#fff;font:600 16px/33px "";text-align:center;}
		#head .h-c .h-c-b{font:12px/43px "";color:#686075;}
		#head .h-c .h-c-b a.active{color:#de000b;}
		#head .h-c .h-c-b a:hover{color:#de000b;}

		#head .h-r{float:right;margin-top:44px;}
		#head .h-r a{display:block;width:144px;height:30px;border:1px solid #d2d2d2;background:#fff;font:12px/30px "";color:#000; }
		#head .h-r a img{margin:0 6px;}
		#head .h-r a i{color:#de000b;}
		#head .h-r p{font:600 12px/42px "";color:#de000b;margin:0 10px;}

	    #nav{height:30px;border-bottom:1px solid #e2e2e2;}
	   
	    
	    #nav .n-l{float:left;width:200px;height:30px;background:#000;text-align:center;margin-left:36px;position:relative;}
	    #nav .n-l a.active{font:600 18px/30px "";color:#fff;}

	    #nav .n-c{float:left;font:600 18px/30px "";}
	    #nav .n-c a{color:#000;margin:0 13px;}
	    #nav .n-c a.active{color:#de000b;}
	    #nav .n-c a:hover{color:#de000b;}
	   

	    #nav .n-r{float:right;padding-right:36px;font:600 18px/30px "";}
	    #nav .n-r a{color:#000;}
	    #nav .n-r a:hover{color:#de000b;}
 
        #menu{padding:0 36px;height:80px;font:12px/60px '';}
        
        #main{padding:50px 36px;overflow:hidden;}
        #main .m-l{float:left;}
        #main .m-l img{display:block;border:1px solid #e2e2e2;margin:5px 0;}
        #main .m-l img:hover{border:1px solid #000;}

        #main .m-c{float:left;}
	    #main .m-c #div {width: 500px;height: 500px;padding: 5px;position: relative;}
	    #main .m-c .small_pic {width:500px;height:500px;position: relative;}

        #main .m-c .float_layer {width:200px;height:200px;background: #000;opacity: 0.3;position: absolute;top: 0;left: 0;display: none;}

        #main .m-c .mark {width: 100%;height: 100%;position: absolute;z-index: 2;left: 0px;top: 0px;}
        #main .m-c .big_pic {position: absolute;top:-10px;left: 500px;width: 300px;height: 300px;overflow: hidden;border: 1px solid #000;display: none;}
        #main .m-c .big_pic img{position: absolute;top: -30px;left: -80px;}
        #main .m-r{float:left;}
        #main .m-r img{border:1px solid #e2e2e2;margin-right:10px;}
        #main .m-r img:hover{border:1px solid #000;}
        #main .m-r p{font:16px/30px '';width:410px;}
        #main .m-r .span1{font:600 30px/60px '';}
        #main .m-r .i1{font:16px/30px '';text-decoration:line-through;}
        #main .m-r b{font:12px/30px '';}
        #main .m-r .span2{display:block;font:600 12px/20px '';color:#666;border:1px solid #e2e2e2;width:50px;text-align:center;margin:3px 50px;}
        #main .m-r .span2:hover{color:#000;border:1px solid #000;}
        #main .m-r .i2,.i3{font:20px '';border:1px solid #e2e2e2;}
        #main .m-r i:hover{border:1px solid #000;}
        #main .m-r .span3{font:20px '';margin:0 10px;}
        #main .m-r a,button{display:block;font:20px/50px '';width:220px;color:#000;border:1px solid #000;text-align:center;margin:10px 0 0 300px;}
        #main .m-r button:hover{background:#000;color:#fff;}
        #main .m-r a:hover{background:#000;color:#fff;}


        #content{padding:50px 0;}
        #content h3{font:30px/60px '';text-align:center;}
        #content img{display:block;width:500px;margin:20px auto;}
        #content .img{width:980px;}
        #content p{width:980px;margin-left:150px;}

       









        






	  
        .sc_right{position:fixed; right:-200px; top:160px;width: 200px; height: 100%; border: 1px solid #000;background:#000;}
	    .sc_pic{width: 40px;height: 40px;padding: 4px 6px;background: url(../images/toolbars.png) #000 15px 15px no-repeat;position: relative;left: -52px;top: 50%;margin-top: -24px;}
	    .sc_num{position: absolute;padding: 5px 8px;border-radius: 50%;background: red;color: #fff;top: -5px;left: -8px;z-index: 1;}
	    .sc_right ul li .sc_goodsPic{float: left;width: 80px;height: 80px;margin-left:20px;}
	    .sc_right ul li .sc_goodsPic img{width: 100%;height: 100%;
		}
	    .sc_right ul li .sc_goodsTitle{float: right;font: 12px/20px '';color: #fff;margin-left: 20px;}
	    .sc_right ul li .sc_goodsBtn{float: right;background: #f00;color: #fff;text-align: center;font: 12px/20px '';width: 50px;height: 20px;}
	    .sc_right ul li .sc_goodsNum{float:left;font: 12px/20px '';margin-left: 20px;color:#fff;}

	    .sc_right ul li .sc_goodsNum span{font:600 18px '';margin-left: 5px;cursor: pointer;}
	    .sc_right ul li{height: 180px;}
        

        #list{height:190px;border-top:1px solid #e2e2e2;background:#f4f4f4;}
	    #list .l-t{width:1188px;height:46px;border:1px solid #e2e2e2;margin:8px 36px;overflow:hidden;}
	    #list .l-t a{margin:20px 0 0 105px;font:18px/46px '';}
	    #list .l-t a span:hover{color:#de000b;}

	    #list .l-b{margin:0 36px;}
	    #list .l-b ul{}
	    #list .l-b ul li{float:left;margin-right:60px;font:12px/20px '';}
	    #list .l-b ul li h3{color:#666;}
	    #list .l-b ul li a{display:block;}
	    #list .l-b ul li a:hover{color:#000;}
	    
	    #footer{padding:0 36px;height:106px;background:#000;overflow:hidden;}
	    #footer .f-l{float:left;margin-top:30px;}
	    #footer .f-r{float:right;font:12px/26px '';color:#fff;}
	    #footer .f-r .a{margin-left:660px;} 
	    #footer .f-r .img{margin-left:580px;} 

     
