        #top{height:30px;background:#f4f4f6;border-bottom:1px solid #e2e2e2;padding:0 36px;position:relative;}
		#top .t-l{float:left;}
		#top .t-l a{float:left;display:block;width:100px;height:30px;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;font:12px/30px '';color:#726777;text-align:center;}
		#top .t-l .a1{background:#fff;border-bottom:1px solid #fff;}
	    #top .t-l .a2:hover{background:#fff;color:#de000b;border-bottom:1px solid #fff;}
	    #top .t-l .img1{display:none;position:absolute;left:136px;top:30px;}


		#top .t-r{float:right;font:12px/30px '';color:#726777;}
		#top .t-r a{float:left;text-align:center;}
		#top .t-r a:hover{color:#de000b;}
		#top .t-r .a3{margin:0 10px;}
	    #top .t-r .a4{display:block;width:75px;height:30px;}
		#top .t-r .a5{display:block;width:60px;height:30px;}
		#top .t-r .a5:hover{background:#fff;border-bottom:1px solid #fff;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;}
		#top .t-r span{float:left;margin:0 10px;}
		#top .t-r .notice{width:200px;height:150px;border:1px solid #e2e2e2;background:#fff;position:absolute;top:30px;right:0;display:none;}
	    #top .t-r .notice a{display:block;width:200px;height:50px;font:12px/50px '';color:#de000b;}

	    #head{padding:30px 130px;}
	    #head img{float:left;}
	    #head h3{float:left;width:500px;height:30px;font:16px/30px '';color:#fff;background:#666;text-align:center;border-radius:30px;}


	    #address{padding:60px 130px;}
	    #address .a-t{height:30px;font:16px/30px '';color:#de000b;}
	    #address .a-t span{float:left;}
	    #address .a-t a{float:left;margin:0 30px;}
	    #address .a-t i{float:right;}


	    #address .a-b{height:200px;border:1px solid #e2e2e2;padding:10px;font:12px/50px '';}
	    #address .a-b span{color:#000;}
	    #address .a-b input{width:200px;text-indent:6px;}
	    #address .a-b i{color:#999;}

	    #buygoods{padding:60px 130px;}
	    #buygoods span{font: 600 16px/30px '';color:#000;}
        #buygoods .a-t{height:30px;border:1px solid #e2e2e2;font:12px/30px '';color:#666;}
	    #buygoods .a-t b{margin:0 185px;}
	    #buygoods .a-t i{margin-right:100px;}
	   


	    #buygoods .a-b{height:300px;border:1px solid #e2e2e2;padding:10px;font:12px/30px '';color:#666;}
	    #buygoods .a-b-t{height:100px;}
	    #buygoods .a-b-t img{float:left;}
	    #buygoods .a-b-t b{float:left;display:block;width:310px;margin:0 10px;}
	    #buygoods .a-b-t i{float:left;margin-right:90px;}
	    #buygoods .a-b-t .i1{margin-right:70px;}
	    #buygoods .a-b-t .i2{margin-right:110px;}
	    #buygoods .a-b-t .i3{margin-right:120px;}
	    #buygoods .a-b-t .i4{font:600 16px/30px '';color:#000;}
        
        #buygoods .a-b-b{overflow:hidden;}
        #buygoods .a-b-b .p1{float:left;}
        #buygoods .a-b-b span{font:12px/50px '';}
        #buygoods .a-b-b input{width:200px;text-indent:6px;}
        #buygoods .a-b-b button{border:0;background:#000;color:#fff;}


        #buygoods .a-b-b .p2{float:right;}
        #buygoods .a-b-b .p2 b{font:600 12px/20px '';}
        #buygoods .a-b-b .p2 i{font:12px/20px '';color:#000;}
        #buygoods .a-b-b .p2 .i5{font:600 20px '';color:#000;}
        #buygoods .a-b-b .p2 a{display:block;width:160px;height:50px;background:#000;color:#fff;font:16px/50px '';text-align:center;}
        
        #footer{padding:0 36px;height:106px;background:#000;overflow:hidden;}
	    #footer .f-l{float:left;margin-top:30px;}
	    #footer .f-r{float:right;font:12px/26px '';color:#fff;}
	    #footer .f-r .a{margin-left:660px;} 
	    #footer .f-r .img{margin-left:580px;} 

     
        















